---
layout: compress
---

{% include base_path %}

<!doctype html>
<html lang="{{ site.locale | slice: 0,2 }}" class="no-js"{% if site.site_theme == "dark" %} data-theme="dark"{% endif %}>
  <head>
    <!-- Google tag (gtag.js) -->
    <script
      async
      src="https://www.googletagmanager.com/gtag/js?id=G-E3Z9T8NJD8"
    ></script>
    <script>
      window.dataLayer = window.dataLayer || [];
      function gtag() {
        dataLayer.push(arguments);
      }
      gtag("js", new Date());

      gtag("config", "G-E3Z9T8NJD8");
    </script>
    <meta
      name="google-site-verification"
      content="ywyD4esGNY1LewbAGHYyqNDkSacXXCfKxCriiy4hmss"
    />
    <script>
      document.addEventListener('DOMContentLoaded', () => {
        const host = location.hostname;
        document.querySelectorAll('a[href]').forEach(a => {
          const url = a.hostname;
          if (url && url !== host) {
            a.target = '_blank';
            a.rel = 'noopener';
          }
        });
      });
    </script>
    {% include head.html %}
    {% include head/custom.html %}
  </head>

  <body>

    {% include browser-upgrade.html %}
    {% include masthead.html %}

    {{ content }}

    <div class="page__footer">
      <footer>
        {% include footer/custom.html %}
        {% include footer.html %}
      </footer>
    </div>

    {% include scripts.html %}

  </body>
</html>
